<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
<!-- stylesheet -->
	<link rel="stylesheet" href="/style.css">

<!-- fonts -->
	<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

	<title>MTAppdatr</title>
</head>

<body>
	<h1>
		<div id ="main_image">
		<a href="/"><img src="http://i.imgur.com/kHUEN8M.png"></a>
	</h1>

<section id="main">
	<%=yield%>
</section>

<div id="nav" style="text-align:center">
	<a href="/posts">Posts</a> |
	<a href="/users">Users</a> |
	<a href="/tags">Tags</a>
</div>

</body>
</html>