<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
<!-- stylesheet -->
	<link rel="stylesheet" href="/style.css">

<!-- fonts -->
	<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

	<title>MTAppdatr</title>

	<header>
		<br><br><img src="http://i.imgur.com/OI6lnYh.png" style="height: 300px; width: 600px;  margin-left: 90px;"/>
	</header>
</head>

<body>
	<h1>
		<div id ="main_image">
			
		<a href="/"><img src="http://i.imgur.com/C9ISRvO.png"></a>
	</h1>

<section id="main">
	<%=yield%>
</section>

<footer>
	<a href="/posts">Posts</a> |
	<a href="/users">Users</a> |
	<a href="/tags">Tags</a>
</footer>

</body>
</html>