<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">


<!-- stylesheets -->
	<link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" type="text/css" href="/normalize.css"> 

<!-- fonts -->
	<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Lato:700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>

<!-- Title -->
	<title>MTAppdatr</title>

	<header>
		<br><img src="http://i.imgur.com/OI6lnYh.png" style="height: 275px; width: 550px;">
	</header>
</head>

<body>
	<div id ="main_image"><br>
		<a href="/"><img src="http://i.imgur.com/C9ISRvO.png"></a><br><br>


	

	
</div>
<section id="main">
	<%=yield%>
</section>



</body>
</html>