
#container {
    width: 950px;
    margin :0 auto;

}

#userphoto {
    float: left;
}
#userinfo {
    float: right;
    display: inline-block;
    
}

header {
	background: url("http://i.imgur.com/QS0eYpq.png");
	background-repeat: repeat-x;
	text-align: center;
	padding-top: 10px;
}

body {
	background: #838383;
}

h1 {
	font-family: 'Pacifico', cursive;
	font-size: 50px;
}

p {
	font-family: 'Lato', sans-serif;
}

#nav {
	font-family: 'Raleway', sans-serif;
    float: clear;
}

#main_image {
	text-align: center;
}

/*.posts {
	color: #ffffff;
	font-weight: none;
	font-family: 'Lucida Sans Unicode', sans-serif;
	background: #000000;
	margin-bottom: 30px;
	width: 500px;
	height: 100px;
	border: 1px solid #ffffff;
	text-align: justify;
	padding-bottom: 50px;
}*/

h4 {
		font-family: 'Arial', sans-serif;
}
