body {
	background: #858585;
}

h1 {
	font-family: 'Pacifico', cursive;
	font-size: 30px;
}

h3 {
	font-family: 'Raleway', sans-serif;
}
#nav {
	font-family: 'Raleway', sans-serif;
}

#main_image {
	text-align: center;
}

/*.posts {
	color: #ffffff;
	font-weight: none;
	font-family: 'Lucida Sans Unicode', sans-serif;
	background: #000000;
	margin-bottom: 30px;
	width: 500px;
	height: 100px;
	border: 1px solid #ffffff;
	text-align: justify;
	padding-bottom: 50px;
}*/

h4 {
		font-family: 'Arial', sans-serif;
}
