<div class ="home" style ="text-align:center">
<h1>Welcome to MTAppdatr</h1>
<p>Here to make your commute just a little easier...</p>

<h2><a href="/posts"><img src="http://i.imgur.com/QDfVXp1.png"></a> ||
    <a href="/users"><img src="http://i.imgur.com/LlDmtZR.png"></a> ||
    <a href="/tags"><img src="http://i.imgur.com/ZaQnZFN.png"></a></h2>