<div style="text-align: center;">
	<h1> <a href="/"><img src="http://i.imgur.com/E4cqzO9.png"></a> || <a href="/posts"><img src="http://i.imgur.com/QDfVXp1.png"></a> ||
    <a href="/users"><img src="http://i.imgur.com/LlDmtZR.png"></a> ||
    <a href="/tags"><img src="http://i.imgur.com/ZaQnZFN.png"></a></h1>

    <h1>Add A New Tag</h1>
<div style="text-align: center;">
<form action="/tags" method="POST">
	<label for="name">Tag Name:
		<input type="text" name="tag[name]">
	</label>	
	<button>Create</button>
<br><br>
	<a href="/tags">Back to List of Tags</a>
</form>
</div>
<br>