
<div style="text-align: center">
<div class ="usersnew">
		<h2> <a href="/"><img src="http://i.imgur.com/E4cqzO9.png"></a> || <a href="/posts"><img src="http://i.imgur.com/QDfVXp1.png"></a> ||
    <a href="/users"><img src="http://i.imgur.com/LlDmtZR.png"></a> ||
    <a href="/tags"><img src="http://i.imgur.com/ZaQnZFN.png"></a></h2></div>

<div class="formforusers">    
<h2>Fill Out the Form To Create A New User</h2>
<form action="/users" method="POST">

		
		<label for="name">Name:
			<input text="text" name="user[name]">
		</label><br>

		<label for="username">Username:
			<input text="text" name="user[username]" value="@">
		</label><br>


		<label for="location">City, Borough:
			<input text="text" name="user[city_borough]">
		</label><br>

		<label for="img_url">Picture URL:
			<input text="text" name"user[img_url]">
		</label>
<br><br>
		<center><input type="submit" name="submit"></center>
	</form>
</div>
</div>