<div style="text-align: center">

<h2>FILL OUT THE FORM TO CREATE A NEW USER</h2>
<form action="/users" method="POST">

		
		<label for="name">Name:
			<input text="text" name="user[name]">
		</label><br>

		<label for="username">Username:
			<input text="text" name="user[username]" value="@">
		</label><br>


		<label for="location">City, Borough:
			<input text="text" name="user[city_borough]">
		</label><br>

		<label for="img_url">Picture URL:
			<input text="text" name"user[img_url]">
		</label>
<br><br>
		<input type="submit" name="submit">
	</form>
</div>