<form action= "/posts/<%= @post.id %>" method="POST">
	<input type="hidden" name="_method" method="PUT">

<label for="comment">Comment<br>
	<input type="text" name="post[name]" value="<%=@post.comment%>">
</label><br>

<label for="time">
	<input type="time" name="timestamp" value="<%=@post.created_at%>">
</label>

	<input type="submit" name="submit">
</form>

<form action="/posts/<%= @post.id%>" method="POST">
	<input type="hidden" name="_method" value="DELETE">
<button>DELETE</button>
</form> 