<div style="text-align: center;">
	<h1> <a href="/"><img src="http://i.imgur.com/E4cqzO9.png"></a> || <a href="/posts"><img src="http://i.imgur.com/QDfVXp1.png"></a> ||
    <a href="/users"><img src="http://i.imgur.com/LlDmtZR.png"></a> ||
    <a href="/tags"><img src="http://i.imgur.com/ZaQnZFN.png"></a></h1>

<form action="/posts" method="POST">

<!-- Comment Box -->
<label for="comment">What does the MTA suck at today?<br>
	<textarea type="text" name="post[comment]"></textarea>
</label><br>

<!-- user drop down -->

<label for="user">User<br>
	<select name="post[user_id]">
		<% @users.each do |user| %>
		<option value="<%= user.id %>"><%= user.name %></option>
		<% end %>
	</select>
</label><br>

<a href='/users/new'>or Create a new user</a><br>

<input type="submit">	
</form>


