<form action="/posts" method="POST">

<!-- Comment Box -->
<label for="comment">Comment<br>
	<textarea type="text" name="post[comment]"></textarea>
</label><br>

<!-- user drop down -->

<label for="user">User<br>
	<select name="post[user_id]">
		<% @users.each do |user| %>
		<option value="<%= user.id %>"><%= user.name %></option>
		<% end %>
	</select>
</label><br>

<!-- submit button -->

<input type="submit" name="submit">	

</form>