<br><br><div class="post">
	<section>
	<h2>
		<span>Post: <%=@post.comment%></span> <br> <%=@post.created_at%><br><br>
				<a href="/posts/<%=@post.id %>/edit">EDIT THE POST</a><Br>
	</h2>
</div>
<div style="text-align: center"><br><br>
	
	<a href="/posts">BACK TO THE LIST OF POSTS</a>
	<br><br>
</div>