<div class="post">
	<h2>
		<div style="text-align: center; 
							border: 1px solid black; border-radius: 15px; margin-left: 550px; margin-bottom: 20px; width: 600px; background-color: rgba(0,0,0,0.25)">
		<%= @post.id%> :: <%=@post.comment%> :: <%=@post.created_at%>
	</h2>
	<br><br>
</div>